.div1{
    background-color: rgb(245, 220, 241);
width: 50%;
float: left;
text-align: center;
}

.div2{
    background-color: rgb(236, 212, 232);
width: 50%;
float: right;
text-align: center;
}

form{
    background-color: rgb(236, 212, 232);
    height:300px;
}

.lines{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

footer{text-align: center;}

#uploader{
    text-align: center;
    background-color: rgb(228, 210, 229);
    
}

#submitbtn{
    text-align: center;
    background-color: #000000;
    color: rgb(138, 45, 225);
    position: relative;
    left: 50%;
    top:40px;
    transform: translate(-50%, -50%);
}

h1{text-align: center;}

footer{background-color: rgb(210, 126, 207);}